body {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 60px;
    padding-top: 50px;
    text-align: center;
    background-color: rgb(36, 35, 35);
}
#board {
    background-color: rgb(189, 185, 185);
    border-bottom: 1px solid rgb(37, 36, 36);
}